/* Genearl css styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color1: #EAEFEF;
  --accent-color2: #accaca;
  --text-color: #333;
  --bg-color: aliceblue;
}

body {
  font-family: "Roboto Flex", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--accent-color2);
}

/* Header section */
header {
  width: 100%;
  height: 70px;
  padding: 0 100px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1B3C53;
}

#logo {
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--accent-color1);
  transition: 0.3s;
}

#logo:hover {
  transform: scale(1.05);
}

.nav-menu {
  display: inline-flex;
  justify-content: space-between;
  width: 600px;
}

.nav-menu li {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--accent-color1);
  transition: all 0.3s;
}

.nav-menu li:hover {
  transform: scale(1.05);
}

.nav-menu a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-menu i {
  font-size: 0.8em;
}

@media (max-width: 460px) {
  header {
    height: 70px;
    padding:0 20px;
  }
  .nav-menu {
    display: none;
  }
}

/* Page content */
#intro {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}